@CHARSET "UTF-8";

/** 通用样式 **/
input[type=text],input[type=password] {
    height:28px;
    border:1px solid #d0d0d0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    text-indent:3px;
}

input[type=checkbox],input[type=radio] {
    vertical-align:middle;
    margin-top:-2px;
    margin-bottom:1px;
}

input[type=text]:focus , input[type=password]:focus {
    border:1px solid rgb(26, 161, 105);
}

.muted {
    color:#8C8C8C;
}

.rounded {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.logo {
    height:	100px;
    background:url(../img/logo.jpg) no-repeat 50% 50%;
}

.primaryBtn , .link_btn {
    width:100%;
    height:30px;
    line-height:30px;
    background:#db3652;
    color:#fff;
    font-size:14px;
    border:0px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.greenBtn {
    background:#34AB75;
}

.slaveBtn {
    font-size:13px;
    padding:3px;	
}

.col2 {
    width:50%;	
}

.link_btn:hover {
    text-decoration:none;
}

.grayed {
	background:#6C6969;
}

.link_btn {
    display:block;
}

.pd5 {
    padding: 5px;	
}

.tip {
    color:rgb(250, 0, 218);
}

.success {
	color: green;
	font-weight: bold
}

.warning {
    background:#FFD500;
    padding:5px;
}

.form_error {
    color:red;
    text-align:center;
}

.validation_error {
	border:1px solid red;
}

input[type=text].validation_error {
	border:1px solid red;
}

.row {
    margin:3px 0;
}

.center {
    text-align:center;
}

.handle_area {
    padding:5px;
}

/** 表单左侧 标题说明 */
.handle_area .side_lb {
    display:inline-block;
    width:22%;
    text-align:right;
}

.at_txt {
    width:100%;
}

.handle_area .at_txt {
    width:75%;
    height:28px;
}


/** ajax 加载中样式 **/
.lightbox {
	display: none;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	zoom: 1;
}

.lightbox table {
	height: 100%;
	width: 100%; 
}

.lightbox td, .lightbox th {
    vertical-align: middle; 
}

.lightbox-content {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0;
}

.lightbox-body {
	border: 1px solid #cecece;
	border-top: 0;
	padding: 10px 30px 30px 30px;
}

.lightbox-head {
	border: 1px solid #cecece;
	border-bottom: 0;
	background-color: #eeeeee; 
}

.loading_icon {
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../img/loading/loading.gif) no-repeat 50% 50%;
}

.loading_box div {
	border: 3px solid #666;
	text-align: center;
}

.loading_text {
	color: #666;
	font-size: 14px;
}

.loading_close {
	cursor: pointer;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 5px;
}


/** 页脚和顶部 */
#footer {
    margin-bottom:60px;
    text-align:center;
}

#main_menu {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
    background:#000;
    filter:alpha(opacity=60);       /* IE */
    -moz-opacity:0.6;              /* 老版Mozilla */
    -khtml-opacity:0.6;              /* 老版Safari */
    opacity: 0.6;           /* 支持opacity的浏览器*/
}


#topBar {
    border-bottom:1px solid rgb(26, 161, 105);
    padding:10px 0;
    position:relative;
}

#topBar h1 {
    font-size:14px;
    text-align:center;
}

#topBar a {
	display: block;
	width: 30px;
	height: 30px;
	
	position: absolute;
	/* top: 50%; */
	right: 2px;
	/* margin: -5px 0 0 0; */
	text-align: center;
	top: 2px;
}

.searchbar {
    border-bottom:1px solid rgb(26, 161, 105);
}



.navbar li {
    float:left;
    width:33%;
    
}

.navbar li a {
    color:#fff;	
}

.bordered .row {
    border-bottom:1px solid #E0E0E0;
    padding:8px 0px;
}

.subTitle {
	text-align:center;
	padding:3px 0;
}

table.fulltable {
    width:100%;
}


.fulltable thead th , .fulltable tbody td {
	border:1px solid rgb(26, 161, 105);
	border-width:1px 0 1px 0;
}

/** 个人中心 */

#my .side_link {
	float:right;
}


#my .avatar {
    padding:0;
    margin:0;
    border-bottom:0px;
}

#my .icon {
    display:inline-block;
    width:65px;	
}

#profile_avatar .side_lb {
    width:25%;
}

#profile_avatar .at_txt {
    width:65%;
}


/** 队伍 */
#categoryList {
    border:1px solid black;
    border-width:1px 0 1px 0;
}
#categoryList li {
	width:25%;
}


#categoryList li a {
    display:block;	
}

/** 球队列表 */

.team {
    margin:5px 0;
    border-bottom: 1px dotted #dcdcdc;
    padding: 0px 0px 5px 0;
}

.team .team_title {
    color:rgb(38, 15, 237);
    font-weight:bold;
    font-size:15px;
}

.team .team_leader {
    color:rgb(205, 88, 17);
}

.team .team_pnum {
}

.team .win_rate {
    margin-left:20px;	
}


.team .team_basic {
	position:relative;
	margin-left:105px;
}

.team_basic li {
    padding:3px 0;	
}

.team .order_game {
    clear:both;
}


/** 注册样式 **/
#register {
    padding:5px;    
}

/** 创建队伍 **/
#create_team .row {
    margin:10px 0px
}

#create_team .side_lb {
    width:22%;
}

#create_team .at_txt {
    width:75%;
}

.teamCoverImg {
    
}

/** 队伍列表 */

#teamList .row img {
	width:100px;
    height:100px;
}

.delmask {
	position:absolute;
	font-size:13px;
	width:100%;
	height:100%;
	filter:alpha(opacity=30);       /* IE */
	-moz-opacity:0.3;              /* 老版Mozilla */
	-khtml-opacity:0.3;              /* 老版Safari */
	opacity: 0.3;           /* 支持opacity的浏览器*/
	z-index:2;
	background:rgb(4, 4, 5);
	display:none;
	text-align:right;
	color:#fff;
}


/** 队伍详情 **/

#teamMembers li.member {
    width:25%;
    float:left;
    margin:2px 0;
}

#teamMembers .member img {
    width:60px;
    height:60px;
}

#teamMembers li.manage {
    float:none;
    width:auto;
    border:1px solid rgb(26, 161, 105);
    margin:5px 0;
    position:relative;
}

#teamMembers li.manage .headerImg {
	margin:0 5px 0 0;
	position:relative;
}

#teamMembers li.manage .headerImg a {
	float:left;
	margin: 0 5px 0 0;
}




#teamMembers li.manage .headerImg strong {
	vertical-align:top;
}
#teamMembers li.manage .headerImg span {
	vertical-align:top;
}


#teamMembers li.manage .edit_username {
	width:40%;
}

#teamMembers li.manage .edit_num {
	width:25%;
}

#teamMembers li.manage .positionSet {
  position: relative;
}

#teamMembers li.manage .positionSet h3 {
	text-align: center;
	background: #D9DAFF;
	padding: 3px;
}



#teamMembers li.manage .positionSet label {
	display:inline-block;
    padding:3px 0;
    margin:2px 0;
    width:30%;
}

#teamMembers li.manage .kickoffBtn {
	margin:3px 0;
	height:30px;
}




#submitFixedWrap {
    position:fixed;width:100%;height:30px;bottom:45px;left:0px;
}