.project
/static/attach/
/static/img/captcha/*
!/static/img/captcha/index.html

/js/arcgis_js_api/
license.txt
composer.json
contributing.md
readme.rst

/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess

/application/logs/*
!/application/logs/index.html

/application/smarty_tpl/*/templates_c/*
!/application/smarty_tpl/*/templates_c/index.html

/application/smarty_tpl/*/cache/*
!/application/smarty_tpl/*/cache/index.html
/nbproject/private/
/nbproject/

web.config
proxy.sqlite
proxy_log.log
