.project
/js/arcgis_js_api/
/user_guide/
license.txt
composer.json
contributing.md
readme.rst
proxy_log.log
proxy.sqlite

/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess

/application/logs/*
!/application/logs/index.html

/application/smarty_tpl/*/templates_c/*
!/application/smarty_tpl/*/templates_c/index.html

/application/smarty_tpl/*/cache/*
!/application/smarty_tpl/*/cache/index.html
