.settings/
.project
/static/attach/
/static/img/captcha/*
!/static/img/captcha/index.html

static/all/
static/IMAGE_255x255/
static/js/arcgis_js_api/
static/js/arcgis_js_api
static/js/arcgis_js_api.lnk
/js/arcgis_js_api/

license.txt
composer.json
contributing.md
readme.rst

/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess
application/controllers/test/

*/test*.php

/temp/*
!/temp/index.html

/application/logs/*
!/application/logs/index.html

/application/smarty_tpl/*/templates_c/*
!/application/smarty_tpl/*/templates_c/index.html

/application/smarty_tpl/*/cache/*
!/application/smarty_tpl/*/cache/index.html
/nbproject/private/
/nbproject/


application/third_party/mpdf60/
application/third_party/excel/
application/third_party/excel
application/third_party/excel2/

proxy.sqlite
proxy_log.log
web.config


application/third_party/aliyun-dysms-php-sdk/
.application/config/database.php
