@CHARSET "UTF-8";
/* 
@名称: base 
@功能: 重设浏览器默认样式 
*/ 
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */ 
html { 
    color:black; 
    background:white; 
} 
/* 内外边距通常让各个浏览器样式的表现位置不同 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    margin:0; 
    padding:0;
}


/* 要注意表单元素并不继承父级 font 的问题 */ 
body,button,input,select,textarea { 
    font:12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif;
}

input,select,textarea { 
    font-size:100%; 
} 
/* 去掉各Table cell 的边距并让其边重合 */ 
table { 
    border-collapse:collapse; 
    border-spacing:0; 
} 
/* IE bug fixed: th 不继承 text-align */ 
th { 
    text-align:inherit; 
} 
/* 去除默认边框 */ 
fieldset,img { 
    border:none; 
} 
/* ie6 7 8(q) bug 显示为行内表现 */ 
iframe { 
    display:block; 
} 
/* 去掉 firefox 下此元素的边框 */ 
abbr,acronym { 
    border:none; 
    font-variant:normal; 
} 
/* 一致的 del 样式 */ 
del { 
    text-decoration:line-through; 
} 
address,caption,cite,code,dfn,em,th,var { 
    font-style:normal; 
    font-weight:500; 
} 
/* 去掉列表前的标识, li 会继承 */ 
ol,ul { 
    list-style:none; 
}

/* 对齐是排版最重要的因素, 别让什么都居中 */ 
caption,th { 
    text-align:left; 
} 
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */ 
h1,h2,h3,h4,h5,h6 {
	
}
q:before,q:after { 
    content:''; 
} 
/* 统一上标和下标 */ 
sub, sup { 
    font-size:75%; 
    line-height:0; 
    position:relative; 
    vertical-align:baseline; 
}
img.respond_img, .respond_img img { 
    height: auto; 
    width: auto\9; 
    width:100%;
}

sup { 
    top:-0.5em; 
} 
sub { 
    bottom:-0.25em; 
} 
/* 让链接在 hover 状态下显示下划线 */
a:link,a:visited {
	color: #06c;
    text-decoration: none;
}

a:hover { 
    text-decoration:underline; 
} 
/* 默认不显示下划线，保持页面简洁 */ 
ins,a { 
    text-decoration:none; 
} 
/* IE6,7焦点点状线去除 */ 
a:focus,*:focus { 
    outline:none; 
} 
/* 清除浮动 */ 
.clearfix:before,.clearfix:after { 
    content:""; 
    display:table;
} 
.clearfix:after { 
    clear:both; 
}

.clearfix { 
    *zoom:1; /* for IE6 IE7 */ 
}

.clear { 
    clear:both; 
    display:block; 
    overflow:hidden; 
    height:0; 
    line-height:0; 
    font-size:0; 
}

/* 设置显示和隐藏, 通常用来与 JS 配合 */ 
.hide { 
    display:none !important; 
    visibility:hidden; 
} 
.block { 
    display:block !important; 
} 
/* 设置内联, 减少浮动带来的bug */ 
.fl { 
    float:left; 
    display:inline; 
} 
.fr { 
    float:right; 
    display:inline; 
}

/** 通用样式 **/
input[type=text],input[type=password] {
    height:25px;
    border:1px solid #d0d0d0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    text-indent:3px;
    vertical-align:middle;
}

input[type=checkbox],input[type=radio] {
    vertical-align:middle;
    margin-top:-2px;
    margin-bottom:1px;
}

input[type=text]:focus , input[type=password]:focus ,textarea:focus {
    border:1px solid #1AA169;
}

.disabled {
	background:#d0d0d0;
}

.muted {
    color:#8C8C8C;
}

.rounded {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.logo {
    height:	100px;
    background:url(../img/logo.jpg) no-repeat 50% 50%;
}

img.nature {
    width:auto;
    height:auto;	
}

.mute {
	color:#999;
}

.btn {
	border-bottom: 0;
    text-align: center;
    border-left: 0;
    line-height: 31px;
    width: 72px;
    height: 31px;
    color: #fff;
    font-size: 14px;
    border-top: 0;
    cursor: pointer;
    font-weight: bold;
    border-right: 0;
    
   	
}



.master_btn , .link_btn , .slaveBtn {
	display:inline-block;
	cursor:pointer;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:#db3652;
    color:#fff;
    font-size:14px;
    border:0px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}


.greenBtn {
    background:#34AB75;
}

.slaveBtn {
	background:#34AB75;
    font-size:13px;
    padding:3px;
    
}


.orangeBtn {
    line-height: 20px;
    width: 60px;
    font-family: "微软雅黑";
    background: #ed6d00;
    height: 20px;
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
}

.col2 {
    width:50%;	
}

.link_btn:hover {
    text-decoration:none;
}

.grayed {
	background:#6C6969;
}

.link_btn {
    display:block;
}

.pd5 {
    padding: 5px;	
}

.tip {
    color:rgb(250, 0, 218);
}

.success {
	font-weight: bold;
	text-align: center;
	background-color: green;
	color: white;
	padding: 5px;
}

.warning {
    background:#FFD500;
    padding:5px;
    text-align: center;
}

.form_error {
    color:red;
    text-align:center;
}

.validation_error {
	border:1px solid red;
}

input[type=text].validation_error {
	border:1px solid red;
}

.row {
    margin:0 0 5px 0;
}

.center {
    text-align:center;
}


.vtop {
	
	vertical-align:top;
}

.at_txt {
    width:100%;
}

.handle_area .at_txt {
    width:75%;
    height:28px;
}



.pagination { padding: 2px; float:right; +float:none; +position: absolute; +right:6px;}
.pagination a {
  padding: 5px 10px;
  background:#fff;
  border:1px solid #0D93BF;
}

.pagination a:hover ,.pagination a.active {background:#0D93BF;color:#fff;cursor:pointer;}


.thumblists {}
.thumblists li { float: left; width:80px; height: 100px; margin-right:10px;}
.thumblists li.picture div { background:#FFF; float: left;/* if IE7/8/9*/ *text-align: center; display: inline; border: dotted 1px #CBE9F3; float: left; padding: 2px; margin:5px;}
.thumblists li.picture p { clear:both; line-height: 20px; height:20px; width: 70px; margin: 0 5px;}
.thumblists li.picture p span { display:inline-block; width: 50%; text-align:center;}


/** ajax 加载中样式 **/
.lightbox {
	display: none;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	zoom: 1;
}

.lightbox table {
	height: 100%;
	width: 100%; 
}

.lightbox td, .lightbox th {
    vertical-align: middle; 
}

.lightbox-content {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0;
}

.lightbox-body {
	border: 1px solid #cecece;
	border-top: 0;
	padding: 10px 30px 30px 30px;
}

.lightbox-head {
	border: 1px solid #cecece;
	border-bottom: 0;
	background-color: #eeeeee; 
}

.loading_icon {
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../img/loading/loading.gif) no-repeat 50% 50%;
}

.loading_box div {
	1border: 3px solid #666;
	text-align: center;
}

.loading_text {
	color: #666;
	font-size: 14px;
}

.loading_close {
	cursor: pointer;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 5px;
}

/** 页脚和顶部 */
#footer {
	margin:10px 0 0 0;
}

#footer .row1 {
	background:#dedede;
}

#footer .row1 .boxz {
	padding:20px 0;
	
}

#footer .row1 .qrcode {
	float:right;
}

#footer .row1 td {
	font-size:14px;
	color:#6D7272;
	padding: 10px 0;
}

#footer .row2 {
	background:#a9abaf;
	color:#fff;
	padding:5px;
	text-align:center;
	
}

.type-file-file { position:absolute; top:0px; right:0px; height:25px; width:256px; filter:alpha(opacity:0); opacity: 0; cursor: pointer;}
.type-file-button , input.type-file-button:focus { background: url(../img/sky/bg_position.gif) no-repeat -50px -450px; width: 57px; height: 25px; border: 0; display:inline; float:right;}





#topBar {
	/*
	background:#143EB3;
	-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.8); 
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.8);*/
	position: relative;
    z-index: 20;
    height:60px;
}

#topBar a {
	color:#fff;
}

.boxz {
	width:980px;
	margin:0 auto;
	position:relative;
}


.searchbar {
	margin: 8px 0;
	
}

.searchbar .searchform {
	float:right;
}

.panel1 h3 {
	float:left;
	border:1px solid #dcdcdc;
	border-width:1px 1px 0px 1px;
	background:#fff;
	font-size: 15px;
    padding: 5px;
}

.panelContent {
	border:1px solid #dcdcdc;
}


.twoCol {
	width:100%;
}

.twoCol li.col {
	width:50%;
	position:relative;
	float: left;
}

.threeCol li.col {
	float:left;
	width:33%;
	position:relative;
}

.colPanel .panelTitel {
	font-size:15px;
	background:#e2e2e2;
	padding: 5px;
	font-weight: bold;
}


.hotlink strong {
	font-size:14px;
	color: #DB3652;
}

.hotlink a {
	font-size:14px;
	color:#6a6a6a;
	padding: 0 3px;
}

#siteLogo {
	float:left;
}

#siteLogo img {
	width:130px;
	height:60px;
	
}

#siteContacts {
	padding-top:10px;
	float:right;
}

#goinIntro {
	/*
	position:absolute;
	left:0;
	top:30px;
	margin-left:61%;
	width:38%;
	
	*/
	text-indent:2em;
	color:#333;
}

#goinIntro p {
	text-indent:2em;
}

#homeNav {
	position:absolute;
	text-align:center;
	width:80%;
	right:0px;
	top:0px;
	z-index: 20;
}

#homeNav .sublist {
	display:none;
}

#homeNav .current {
	background:#2B4796;
}

#homeNav .current .sublist {
	display:block;
}

#homeNav li.level0 {
	width:14%;
	height:100%;
	float:left;
	display:block;
	border-radius:4px; 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px;
}

#homeNav a.link0, #homeNav a.link1 {
	display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
   	color:#0138B7;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-radius:4px; 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px;
}


#homeNav .current a {
	
}

#homeNav a:hover, #homeNav li.current a.link1  {
	color:#fff;
}

#homeNav li.current a.link0, #homeNav .current a.link1:hover {
	background:#ED6D00;
	color:#fff;
}

#homeNav .products {
	position: absolute;
   	left: 0;
   	width: 100%;
   	height:300px;
}


#homeSwiper {
	width:100%;
	top:-60px;
}

#homeSwiper .sliderItem {
	width:100%;
	height:500px;
}

#homeSwiperPager {
	position:absolute;
	top:-90px;
	z-index:20;
	right:0;
	display:block;	
}

#homeSwiperPager a {
	display: block;
    float: left;
    text-align: center;
    background: #90918B;
    width: 20px;
    height: 20px;
    border: 1px solid #dcdcdc;
    margin: 0 2px 0 0;
    color: white;
    text-decoration:none;
}

#homeSwiperPager a.activeSlide {
	background:#FFB082;
}

.more {
	font-size:14px;
}


#goinSwiper {
	margin:0;
	width:100%;
}

#goinSwiper div {
	width:100%;
	height:300px;
}

#menuProducts {
	width: 100%;
   	position: absolute;
   	left: 0;
   	border: 1px solid #dcdcdc;
   	border-radius:4px; 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px;
    background:#fff;
}

#menuProducts a {
	color:black !important;
}

#menuProducts a:hover {
	backgournd:none;
}

#menuProducts li.level1 {
	width:20%;
	1border-left: 1px solid #dcdcdc;
	float:left;
	white-space: nowrap;
}



#menuProducts li.level1:hover {
	background:none;
	
}

#menuProducts li.level1 span {
	
	display:block;
}

#menuProducts li.level1:hover {
	1background:#f4d74d;
}

#menuProducts ol {
	padding-left:10px;
	1list-style-type:square;
	margin: 10px 0;
    1border-top: 1px solid #dcdcdc;
    text-align:left;
}

.newslist {
	padding: 0 10px;
	
}

.newslist li {
	position:relative;
	height:30px;
	line-height:30px;
	overflow:hidden;
}


.newslist li a {
	float:left;
	display:block;
	width:80%;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.newslist li span {
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	background: #fff;
    z-index: 2;
}

.serialProduct li {
	padding:5px;
}

#starProducts {
	padding:5px;
}

#starProducts h3 {
	margin: 0 0 5px 0;
}


#starProducts .bx-wrapper {
	margin: 0 auto;
}




.friendLinks {
	border: 1px solid #dcdcdc;
	margin:10px 0 ;
	padding:5px;
}

.friendLinks a {
	
}


.mg10 {
	margin-top:10px;
}

.linePg {
	position: relative;
    top: -60px;
	1border-top:1px solid #fff;
}

.aboutPg , .newsPg, .productPg , .marketPg, .servicePg, .contactsPg , .docPg {
	background:url(../img/cmp/2.jpg) no-repeat center center;
	height:300px;
}

.newsPg {
	background:url(../img/cmp/1.jpg) no-repeat center center;
}

.productPg {
	background:url(../img/cmp/3.jpg) no-repeat center center;
}
 
.marketPg {
	background:url(../img/cmp/2.jpg) no-repeat center center;
}

.breadcrumb {
	padding: 0 0 10px 20px;
    border-bottom: 1px solid #D9CECE;
}


.breadcrumb a {
	padding: 3px;
}

.sideNav {
	width:200px;
	float: left;
}


.sideNav .sideItem {
	border: 1px solid #dcdcdc;
	margin:0 0 20px 0;
	border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.sideNav li {
	padding: 15px 10px;
    background: url(../img/t2.jpg) no-repeat 50px center;
    text-align: center;
    font-size: 14px;
}

.sideNav .itemTitle {
	padding: 15px 10px;
	text-align: center;
	background-color:#0481C1;
	background-image:none;
	border-width:1px 0px 0px 1px;
	color:#fff;
	border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -o-border-radius:5px 5px 0 0;
}


.sideNav .itemTitle a {
	color:#fff;
}


.contentArea {
	margin-left:210px;
}

.contentArea .bd {
	padding:20px;
}


table.liststyle1 {
	width:100%;
}

.liststyle1 .liststyle1Item, .liststyle1 .liststyle1Item td {
	padding:10px 0;
}

.liststyle1 .liststyle1Item td {
	border: 1px solid #ccc;
	border-width:1px 0 1px 0;
}


.liststyle1 .previewCont {
	margin: 0 0 0 110px;
}

.liststyle1 .previewPic {
	width:100px;
	height:80px;
	float: left;
}

.productList .previewCont {
	margin: 0 0 0 210px;
	
}

.productList .previewPic {
	width:200px;
	height:160px;
	float: left;
	border:1px solid #dcdcdc;
}

.productList .productName {
	font-size:18px;
}

.productList .productDetail {
	padding:3px 0;
}

.bdlist .pagination {
	margin:20px 0;
}


.search div {
	text-align:center;
	padding:5px 0 ;
}

.articleHeader  {
	text-align:center;
	border-bottom:1px dashed #666;
	padding:5px 0;
	
}

.articleHeader h1 {
	font-size:18px;
	margin:5px 0;
}

.articleHeader em {
	padding: 0 10px;
}

.articleContent {
	margin:15px 0;
}

.articleContent img { 
    height: auto; 
    width: auto\9; 
    width:100%;
}



.errorPage {
	background: url(../img/error_page_bg.png) no-repeat left center;
    height: 200px;
    padding: 0 0 0 38px;
    line-height: 200px;
    width: 200px;
    margin: 0 auto;
}


.productInfo {
	position:relative;
}

.productInfo .textDesc {
	position: absolute;
    left: 530px;
    top: 0;
}

.textDesc div {
	
	margin: 5px 0;
}

.textDesc em {
	padding: 0 10px 0 0;
}

.goodscode {
	color:#f00;
}


.suggest td {
	padding: 5px 0;
	vertical-align:middle;
}


.suggest td em {
	
	color:red;
}

.suggest input {
	width:200px;
}


.suggest .form_error {
	background:url(../img/error.gif) no-repeat left center;
	padding-left: 20px;
    margin: 0 0 0 5px;
}

.filelist {
    
}


.fileitem {
	background: #D8D8D8;
	margin: 0 0 5px 0;
	1padding: 10px 5px;
	position: relative;
	height:40px;
	
}

.fileitem .filename {
	width: 50%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14px;
    color:#ed6d00;
    padding:0 0 0 5px;
}

.fileitem .filetype, .fileitem .filesize {
	line-height:40px;
}

.fileitem em {
	color:#666;
}


.fileitem .pubtime {
	
}


.fileitem .downlink {
	position: absolute;
    /* top: 50%; */
    right: 0;
    /* margin: -5px 10px 0 0; */
    width: 10%;
    background: #ED6D00;
    
    color:#fff;
    text-align: center;
    height:40px;
    line-height:40px;
}

.fileitem .wj {
	display: inline-block;
    width: 60px;
    color: #999;
}


.fileitem .filetype, .fileitem .filesize {
	color:#666;
}


@media (max-width: 1024px) {
	.boxz {
		width:980px;
	}
}

@media (min-width: 1440px) {
	.boxz {
		width:1200px;
	}
}

@media (max-width: 640px) {
	.boxz {
		width:100%;
		max-width:640px;
	}
}

@media (max-width: 360px) {
	.boxz {
		width:100%;
		max-width:360px;
	}
}


@media (max-width: 360px), (max-width: 640px) {
	.newslist {
		padding:0;
	}
	
	img { 
	    height: auto; 
	    width: auto\9; 
	    width:100%;
	}
	
	#siteLogo img {
		display:none;
	}
	
	#siteContacts {
		float:none;
	}
	
	#homeSwiper .sliderItem {
		height:200px;
	}
	
	.searchbar .searchform {
		float:none;
	}
	
	.twoCol li.col {
		width:100%;
		float:none;
	}
}


