@CHARSET "UTF-8";
/* 
@名称: base 
@功能: 重设浏览器默认样式 
*/ 
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */ 
html { 
    color:black; 
    background:white; 
} 
/* 内外边距通常让各个浏览器样式的表现位置不同 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    margin:0; 
    padding:0;
    box-sizing:content-box;
}


/* 要注意表单元素并不继承父级 font 的问题 */ 
body,button,input,select,textarea { 
    font:12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif;
}

input,select,textarea { 
    font-size:100%; 
} 
/* 去掉各Table cell 的边距并让其边重合 */ 
table { 
    border-collapse:collapse; 
    border-spacing:0; 
} 
/* IE bug fixed: th 不继承 text-align */ 
th { 
    text-align:inherit; 
} 
/* 去除默认边框 */ 
fieldset,img { 
    border:none; 
} 
/* ie6 7 8(q) bug 显示为行内表现 */ 
iframe { 
    display:block; 
} 
/* 去掉 firefox 下此元素的边框 */ 
abbr,acronym { 
    border:none; 
    font-variant:normal; 
} 
/* 一致的 del 样式 */ 
del { 
    text-decoration:line-through; 
} 
address,caption,cite,code,dfn,em,th,var { 
    font-style:normal; 
    font-weight:500; 
} 
/* 去掉列表前的标识, li 会继承 */ 
ol,ul { 
    list-style:none; 
}

/* 对齐是排版最重要的因素, 别让什么都居中 */ 
caption,th { 
    text-align:left; 
} 
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */ 
h1,h2,h3,h4,h5,h6 {
	
}
q:before,q:after { 
    content:''; 
} 
/* 统一上标和下标 */ 
sub, sup { 
    font-size:75%; 
    line-height:0; 
    position:relative; 
    vertical-align:baseline; 
}

img.respond_img, .respond_img img { 
    height: auto; 
    width: auto\9; 
    width:100%;
}

sup { 
    top:-0.5em; 
} 
sub { 
    bottom:-0.25em; 
} 
/* 让链接在 hover 状态下显示下划线 */
a:link {
	color: #1A2B97;
    text-decoration: none;
}

a:visited {
	color: #06c;
    text-decoration: none;
}

a:hover { 
    text-decoration:underline; 
} 
/* 默认不显示下划线，保持页面简洁 */ 
ins,a { 
    text-decoration:none; 
} 
/* IE6,7焦点点状线去除 */ 
a:focus,*:focus { 
    outline:none; 
} 
/* 清除浮动 */ 
.clearfix:before,.clearfix:after { 
    content:""; 
    display:table;
} 
.clearfix:after { 
    clear:both; 
}

.clearfix { 
    *zoom:1; /* for IE6 IE7 */ 
}

.clear { 
    clear:both; 
    display:block; 
    overflow:hidden; 
    height:0; 
    line-height:0; 
    font-size:0; 
}

/* 设置显示和隐藏, 通常用来与 JS 配合 */ 
.hide { 
    display:none !important; 
    visibility:hidden; 
} 
.block { 
    display:block !important; 
} 
/* 设置内联, 减少浮动带来的bug */ 
.fl { 
    float:left; 
    display:inline; 
} 
.fr { 
    float:right; 
    display:inline; 
}

/** 通用样式 **/
input[type=text],input[type=password] {
    height:25px;
    border:1px solid #d0d0d0;
    /*
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    */
    text-indent:3px;
    vertical-align:middle;
}

input[type=button],input[type=submit] {
	-webkit-appearance : none;
}

input[type=checkbox],input[type=radio] {
    vertical-align:middle;
    margin-top:-2px;
    margin-bottom:1px;
}

input[type=text]:focus , input[type=password]:focus ,textarea:focus {
    border:1px solid #1AA169;
}

.disabled {
	background:#d0d0d0;
}

.muted {
    color:#8C8C8C;
}

.rounded {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

img.nature {
    width:auto;
    height:auto;	
}

.mute {
	color:#999;
}

.btn {
	border-bottom: 0;
    text-align: center;
    border-left: 0;
    line-height: 31px;
    width: 72px;
    height: 31px;
    color: #fff;
    font-size: 14px;
    border-top: 0;
    cursor: pointer;
    font-weight: bold;
    border-right: 0;
    
   	
}



.master_btn , .link_btn , .slaveBtn {
	display:inline-block;
	cursor:pointer;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:#db3652;
    color:#fff;
    font-size:14px;
    border:0px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}


.greenBtn {
    background:#34AB75;
}

.slaveBtn {
	background:#34AB75;
    font-size:13px;
    padding:3px;
    
}


.orangeBtn {
    line-height: 20px;
    width: 60px;
    font-family: "微软雅黑";
    background: #ed6d00;
    height: 20px;
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
}

.col2 {
    width:50%;	
}

.link_btn:hover {
    text-decoration:none;
}

.grayed {
	background:#6C6969;
}

.link_btn {
    display:block;
}

.pd5 {
    padding: 5px;	
}

.tip {
    color:rgb(250, 0, 218);
}

.success {
	font-weight: bold;
	text-align: center;
	background-color: green;
	color: white;
	padding: 5px;
}

.warning {
    background:#FFD500;
    padding:5px;
    text-align: center;
}

.form_error {
    color:red;
    text-align:center;
}

.validation_error {
	border:1px solid red;
}

input[type=text].validation_error {
	border:1px solid red;
}

.row {
    margin:0 0 5px 0;
}

.center {
    text-align:center;
}


.vtop {
	
	vertical-align:top;
}

.at_txt {
    width:100%;
}

.handle_area .at_txt {
    width:75%;
    height:28px;
}



.pagination { padding: 3px; +position: absolute; +right:6px; text-align:center;}
.pagination a {
  padding: 5px 10px;
  background:#fff;
  border:1px solid #0D93BF;
}

.pagination a:hover ,.pagination a.active {background:#0D93BF;color:#fff;cursor:pointer;}

.pagination a.deactive {
	background: #C8C7CE;
    border: 1px solid #BDC2C3;
    color: #9A9999;
    text-decoration:none;

}


.mg5 {
	margin-top:5px;
}

.mg10 {
	margin-top:10px;
}


#wrap {
	width:100%;
}

.articleTitle {
	color:#333333;
}

.articleTitle , .articleContent {
	
	padding:20px 16px 12px;
}

.articleSubTitle {
	margin-top:10px;
}

.articleContent .digest {
	color:#666666;
}

.articleItem {
	position:relative;
	border-bottom:1px solid #e7e7e7;
}

.articleTxt {
	float:left;
	padding-right:120px;
}

.articleItem .articleImg {
    position: absolute;
    width: 120px;
    height: auto;
    right:0px;
}

@media (min-width: 1440px) {
	
}


@media (max-width: 1024px) {
	
}


@media (max-width: 720px) {
	
}


@media (max-width: 640px) {
	
}

@media (max-width: 360px) {
	
}



