@CHARSET "UTF-8";
/* 
@名称: base 
@功能: 重设浏览器默认样式 
*/ 
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */ 
html { 
    color:black; 
    background:white; 
} 
/* 内外边距通常让各个浏览器样式的表现位置不同 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    margin:0; 
    padding:0; 
} 
/* 要注意表单元素并不继承父级 font 的问题 */ 
body,button,input,select,textarea { 
    font:12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; 
} 
input,select,textarea { 
    font-size:100%; 
} 
/* 去掉各Table cell 的边距并让其边重合 */ 
table { 
    border-collapse:collapse; 
    border-spacing:0; 
} 
/* IE bug fixed: th 不继承 text-align */ 
th { 
    text-align:inherit; 
} 
/* 去除默认边框 */ 
fieldset,img { 
    border:none; 
} 
/* ie6 7 8(q) bug 显示为行内表现 */ 
iframe { 
    display:block; 
} 
/* 去掉 firefox 下此元素的边框 */ 
abbr,acronym { 
    border:none; 
    font-variant:normal; 
} 
/* 一致的 del 样式 */ 
del { 
    text-decoration:line-through; 
} 
address,caption,cite,code,dfn,em,th,var { 
    font-style:normal; 
    font-weight:500; 
} 
/* 去掉列表前的标识, li 会继承 */ 
ol,ul { 
    list-style:none; 
}

/* 对齐是排版最重要的因素, 别让什么都居中 */ 
caption,th { 
    text-align:left; 
} 
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */ 
h1,h2,h3,h4,h5,h6 { 
    font-size:100%; 
    font-weight:500; 
} 
q:before,q:after { 
    content:''; 
} 
/* 统一上标和下标 */ 
sub, sup { 
    font-size:75%; 
    line-height:0; 
    position:relative; 
    vertical-align:baseline; 
}
img { 
    height: auto; 
    width: auto\9; 
}
sup { 
    top:-0.5em; 
} 
sub { 
    bottom:-0.25em; 
}

a {
	color:#333;
}

/* 让链接在 hover 状态下显示下划线 */ 
a:hover { 
    text-decoration:underline; 
    color:#0800DB;
} 
/* 默认不显示下划线，保持页面简洁 */ 
ins,a { 
    text-decoration:none; 
}

/* IE6,7焦点点状线去除 */ 
a:focus,*:focus { 
    outline:none; 
}

/* 清除浮动 */
.simpleclearfix {
    o\verflow: auto;
}
* html .simpleclearfix {
    height: 1%; /* IE5-6 */
}

.clearfix:before,.clearfix:after { 
    content:""; 
    display:table; 
} 
.clearfix:after { 
    clear:both; 
    overflow:hidden; 
} 
.clearfix { 
    zoom:1; /* for IE6 IE7 */ 
} 
.clear{ 
    clear:both; 
    display:block; 
    overflow:hidden; 
    height:0; 
    line-height:0; 
    font-size:0; 
} 
/* 设置显示和隐藏, 通常用来与 JS 配合 */ 
.hide { 
    display:none !important; 
    visibility:hidden; 
} 
.block { 
    display:block !important; 
} 
/* 设置内联, 减少浮动带来的bug */ 
.fl { 
    float:left; 
    display:inline; 
} 
.fr { 
    float:right; 
    display:inline; 
}

.rel {
	position:relative;
	overflow:hidden;
}

/** 通用样式 **/
input[type=text],input[type=password] {
    height:20px;
    padding: 5px 0;
    border:1px solid #d0d0d0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    text-indent:3px;
    
}

input[type=checkbox],input[type=radio] {
    vertical-align:middle;
    margin-top:-2px;
    margin-bottom:1px;
}

/*
input[type=text]:focus , input[type=password]:focus ,textarea:focus {
    border:1px solid #473e86;
}
*/


.disabled {
	background:#d0d0d0;
}

.muted {
    color:#8C8C8C;
}

.rounded {
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}

.logo {
    height:	100px;
    background:url(../img/logo.jpg) no-repeat 50% 50%;
}

.placeholder { color: #aaa; }


.nav ,.control ,.action {
    display: inline-block;
    border: 1px solid #473e86;
    height: 26px;
    padding: 0 5px;
    margin-left: 10px;
    line-height: 26px;
    color: #473e86;
    font-size: 16px;
    background-color: white;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family:  helvetica, "microsoft yahei", sans-serif;
    text-align: center;
}
.nav:hover,.control:hover,.action:hover {
    background-color: #473e86;
    color: white;
    text-decoration:none;
}


.master_btn , .link_btn , .slaveBtn {
	display:block;
	cursor:pointer;
    width:100%;
    margin:0 auto;
    height: 35px;
    line-height:35px;
    background-color:#db3652;
    color:#fff;
    font-size:14px;
    border:0px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    text-indent:3px;
}

.greenBtn {
    background:#34AB75;
}

.slaveBtn {
	background:#34AB75;
    font-size:13px;
    padding:3px;
}

.grayed {
	background:#6C6969;
}

.pd5 {
    padding: 5px;	
}

.tip {
    color:rgb(250, 0, 218);
}

.success {
	font-weight: bold;
	text-align: center;
	background-color: green;
	color: white;
	padding: 5px;
}

.warning {
    background:#FFD500;
    padding:5px;
    text-align: center;
}

.form_error {
    color:red;
    text-align:center;
}

input[type=text].validation_error {
	border:1px solid red;
}


.handle_area {
    padding:5px 0px;
}


.handle_area .side_lb em {
    color:red;	
}

.vtop {
	vertical-align:top;
}

.at_txt {
    width:100%;
}

.stxt {
	width:60px;
}

.pagination { padding: 2px; }
.pagination a {
  padding: 5px 10px;
  background:#fff;
  border:1px solid #1AA169;
}

.pagination a:hover ,.pagination a.active {background:#0D93BF;color:#fff;cursor:pointer;}

/** ajax 加载中样式 **/
.lightbox {
	display: none;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	zoom: 1;
}

.lightbox table {
	height: 100%;
	width: 100%; 
}

.lightbox td, .lightbox th {
    vertical-align: middle; 
}

.lightbox-content {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0;
}

.lightbox-body {
	border: 1px solid #cecece;
	border-top: 0;
	padding: 10px 30px 30px 30px;
}

.lightbox-head {
	border: 1px solid #cecece;
	border-bottom: 0;
	background-color: #eeeeee; 
}

.loading_icon {
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../img/loading/loading.gif) no-repeat 50% 50%;
}

.loading_box div {
	1border: 3px solid #666;
	text-align: center;
}

.loading_text {
	color: #666;
	font-size: 14px;
}

.loading_close {
	cursor: pointer;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 5px;
}


.qqchat {
	display:block;
	background:url(../img/qqchat.png) no-repeat;
	width:77px;
	height:22px;
	text-indent:-1000em;
}


#wrap {
	width:100%;
}

#topbar {
	background-color:#fff;
    height: 50px;
    width: 100%;
    font-size: 16px;
    position: relative;
    z-index: 20;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #E7E7E7;
}

.boxz {
    width:980px;
    margin:0 auto;
    position:relative;
}



table.fulltable {
    width:100%;
}

.fulltable thead th {
	background-color:#CDECD5;
}


.fulltable thead th , .fulltable tbody td {
	border:1px solid #CBCBCB;
	border-width:1px 0 1px 0;
	font-size:14px;
	padding: 3px;
}

.cityList {
    
}

.cityList .row {
    height:30px;
    line-height:30px;
    border-bottom:1px solid #d0d0d0;
}

.cityList .row a {
    color:black;
    text-indent:10px;
    display:block;
}

    
.cityList .goback {
    background-color:rgb(202, 225, 229);
}
    

.cityList .goback a {
    color:blue;
    text-align:center;
}

.cityList .current {
    background-color:rgb(255, 223, 0);
}

.title-zh {
    text-align: center;
    padding: 180px 0 0 0;
}

.title-zh .dot {
	font-size:4em;
	display: block;
    float: left;
    width: 33%;
    color: #FFE6E6;
}

/**================================================footer样式================================================**/
.foot {
	background-color:#E0E0E0;
}
.foot .part-one {
    text-align: center;
    height: 88px;
    line-height: 88px;
    background-color: #130e32;
}
.foot .part-one .phone-number {
    color: #dcdddd;
    font-size: 28px;
    margin-left: 15px;
}
.foot .part-two {
    
    color: #212424;
    height: 440px;
}
.foot .part-two .center-block {
    padding-top: 70px;
}
.foot .part-two .column {
    display: inline-block;
    float: left;
}
.foot .part-two .column-one {
    width: 31%;
}
.foot .part-two .column-two {
    width: 33%;
}
.foot .part-two .column-three {
    width: 24%;
}
.foot .part-two .column-four {
    width: 12%;
}
.foot .part-two .column .title {
    font-size: 18px;
}
.foot .part-two .column ul {
    padding-left: 0;
}
.foot .part-two .column li {
    list-style: none;
    line-height: 2;
    font-size: 14px;
}
.foot .part-two .column li a {
    color: #25a597;
}
.foot .part-two .column li a:hover {
    color: #25a597;
}
.foot .part-two .info-wrapper {
    clear: both;
    text-align: center;
    padding-top: 22px;
}
.foot .part-two .info-wrapper .check-version {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
}
.foot .part-two .info-wrapper a {
    text-decoration: underline;
}
.foot .part-two .info-wrapper a:hover {
    color: #25a597;
}
.foot .part-two .info-wrapper .copyright {
    font-size: 12px;
    margin-top: 5px;
}
.foot .part-two .info-wrapper .copyright-link {
    color: #dcdddd;
}


#logo {
	position:absolute;
	top:0px;
	left:0px;
	
}

#logo a {
	color:#473e86;
}


#homeSideLinks {
	position:absolute;
	right:0px;
	top:0px;
}

/* 前台登陆  */
#loginPanel,#register {
	width: 30%;
    
    padding: 30px 20px 60px;
    margin: 30px auto;
}

.panel .at_txt {
	height:25px;
	line-height:25px;
	
}

.panel {
	margin: 0 auto;
    border: 1px solid #CECECE;
}

.panel .title {
	font-size: 2em;
    border-left: 10px solid #25a597;
    text-indent: 20px;
}

.panel .row {
	padding: 10px 5px;
}

#loginPanel .codeimg {
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 13px;
}

#mobile_authcode {
	position: absolute;
    width: 115px;
    right: 0px;
    top: 11px;
}

/* 后台登陆  */
#adminlogin {
	width:100%;
	max-width:640px;
	margin: 0 auto;
}

#adminlogin .row {
	position:relative;
	text-align: center;
	
}

#adminlogin h1 {
	text-align:center;
}

#adminlogin .side_lb {
	display:block;
	position:absolute;
	width:80px;
	border: 1px solid #d0d0d0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    
	left:0px;
	top:0px;
	height:100%;
	line-height: 30px;
	background:#d0d0d0;
}

#adminlogin .at_txt {
	width:95%;
}


#adminlogin .form_error {
	text-align: center;
    display: block;
}


/* 个人中心  */

#my {
	
	margin:10px auto;
}


.mynav {
	width: 150px;
    float: left;
    display: block;
    border: 1px solid #CDCDCD;
}

.mynav li {
	padding:10px 5px;
}

.mynav .segment {
	background-color:#C8EBE9;
}

#my .panel_content {
	margin-left:160px;
}

.goods_search {
	position:relative;
}

.goods_search .ftitle {
	display:inline-block;
	width:120px;
	
}


.goods_search textarea {
	width:100%;
	height:110px;
}

.goods_search .searchtip {
	position:absolute;
	right:0px;
	top:0px;
}



@media (min-width: 1440px) {
    .boxz {
        width:1200px;
    }
}

@media (max-width: 1024px) {
    .boxz {
        width:640px;
    }
    
    #loginPanel,#register {
        width:98%;
        padding:20px 0;
    }
}


@media (max-width: 640px) {
    .boxz {
        width:100%;
        max-width:640px;
    }
}
