@charset "utf-8";

*{ word-wrap:break-word; outline:none;}
body{ background:#FFF;}
body, td, input, textarea, select, button{ color:#555; font:12px "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
body, ul, ol, li,  dl, dt , dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin:0; padding:0; }
ul , ol , li { list-style-image: none; list-style-type: none; }
h1, h2, h3, h4, h5, h6{ font-size:12px; }
a{ color:#0D93BF; text-decoration:none; }
a:hover { color:#000; text-decoration:none; }
a img{ border:none; }
a {blr:expression(this.onFocus=this.blur())}
em, cite, th{ font-style:normal; font-weight:normal; }
table{ border-collapse:collapse; }
th{ text-align:left; }
label, .pointer { cursor:pointer; }
.trace { background: white; margin: 6px; font-size: 14px; border:1px dashed silver; padding:8px}
.trace fieldset { margin:5px;}
.trace fieldset legend {color:gray;font-weight:bold}
.trace fieldset div {overflow:auto;height:300px;text-align:left;}
input,button,select,textarea{outline:none}
html{ -webkit-text-size-adjust: none;}


/* 清除浮动 */ 
.clearfix:before,.clearfix:after { 
    content:""; 
    display:table; 
} 
.clearfix:after { 
    clear:both; 
    overflow:hidden; 
} 
.clearfix { 
    zoom:1; /* for IE6 IE7 */ 
} 

/* 设置显示和隐藏, 通常用来与 JS 配合 */ 
.hide { 
    display:none !important; 
    visibility:hidden; 
} 
.block { 
    display:block !important; 
} 
/* 设置内联, 减少浮动带来的bug */ 
.fl { 
    float:left; 
    display:inline; 
} 
.fr { 
    float:right; 
    display:inline; 
}

/* 宽度\高度\尺寸
------------------------------------------------------------------- */
.w12 { width: 12px; }
.w24 { width: 24px; }
.w36 { width: 36px; }
.w48 { width: 48px; }
.w60 { width: 60px; }
.w72 { width: 72px; }
.w84 { width: 84px; }
.w96 { width: 96px; }
.w108 { width: 108px; }
.w120 { width: 120px; }
.w132 { width: 132px; }
.w144 { width: 144px; }
.w156 { width: 156px; }
.w150 { width: 150px;}
.w200 { width: 200px;}
.w270 { width: 270px;}
.w300 { width: 300px;}
.w830 { width: 830px;}

.w18pre { width: 18%;}
.w33pre  { width: 33%;}
.w34pre  { width: 34%;}
.w25pre { width: 25%;}
.w40pre { width: 40%;}
.w50pre { width: 50%;}
.w100pre { width: 100%; }

.h36 { height: 36px;}

.size-64x64 { width: 64px; height: 64px;}
.size-56x56 { width: 56px; height: 56px;}
.size-32x32 { width: 32px; height: 32px;}
.size-44x44 { width: 44px; height: 44px;}
.size-80x40 { width: 80px; height: 40px;}
.size-88x31 { width: 88px; height: 31px;}
.size-88x29 { width: 88px; height: 29px;}
.size-68x34 { width: 68px; height: 34px;}
.size-72x72 { width: 72px; height: 72px;}
.size-106x106 { width: 106px; height: 106px;}

.size-200x200 { width: 200px; height: 200px;}


/* Base
---------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { color:#4D5762; position:relative; word-spacing:-0.1em;}
h4, h5, h6 { font-weight:bold;}
h1, h2 { line-height:28px; margin-bottom:18px;}
h1, h2, h3, h4 { margin-top:18px;}
h3, h4, h6 { line-height:18px; margin-bottom:10px;}
h1 { font-size:18px;}
h2 { font-size:16px;}
h3 { font-size:15px; color:#09C; margin-bottom:10px;}
h4 { font-size:16px;}
h5 { font-size:13px; color:#0099CC;}
h6 { font-size:12px;}


.red {color: red;}
.blue { color: blue;}
.orange { color: #F60;}
.bold {font-weight: bold; color: #545454}

.hightlight {
	color:#DA1CC1;
}


.tip_success {
    font-weight: bold;
    text-align: center;
    background-color: green;
    color: white;
    padding: 5px;
}

.tip_error {
	font-weight: bold;
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px;
}


.tip_error .error {
	color:white;
}

.tip_warning {
    background:#FFD500;
    padding:5px;
    text-align: center;
}

.form_error {
    color:red;
    text-align:center;
}

label.error {
	color:red;
}

.validation_error {
    border:1px solid red;
}

input[type=text].error,input[type=password].error {
    border:1px solid red;
    background:#fff url(../img/access_disallow.gif) no-repeat right center;
}

input[type=text].valid , input[type=password].valid {
	background:#fff url(../img/access_allow.gif) no-repeat right center;
}


input[type=checkbox],input[type=radio] {
    vertical-align:middle;
    margin-top:-2px;
    margin-bottom:1px;
}

.inputLoading {
	background:url(../img/loading/smallLoading.gif) no-repeat right center !important;
}

.loading_div {
	height:32px;
    background:url(../img/loading/loading.gif) no-repeat;
}

.loading_animate {
	background: url(../img/loading/loading.gif) no-repeat 50% 50%;
}

.loading_bg {
    height:25px;
    line-height:25px;
    background: url(../img/loading/smallLoading.gif) no-repeat 10px center;
    padding: 0 0 0 25px;
}


/** ajax 加载中样式 **/
.lightbox {
	display: none;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	zoom: 1;
}

.lightbox table {
	height: 100%;
	width: 100%; 
}

.lightbox td, .lightbox th {
    vertical-align: middle; 
}

.lightbox-content {
	background-color: #fff;
	width: 50%;
	margin: 0 auto;
	position: relative;
	padding: 5px 0;
}

.lightbox-body {
	border: 1px solid #cecece;
	border-top: 0;
	padding: 10px 30px 30px 30px;
}

.lightbox-head {
	border: 1px solid #cecece;
	border-bottom: 0;
	background-color: #eeeeee; 
}

.loading_icon {
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../img/loading/loading.gif) no-repeat 50% 50%;
}

.loading_box div {
	1border: 3px solid #666;
	text-align: center;
}

.loading_text {
	color: #666;
	font-size: 14px;
}

.loading_close {
	cursor: pointer;
	color: #ccc;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 5px;
}


/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../img/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../img/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../img/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../img/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}


.form , .rounded_box {padding:20px; border:1px solid #d0d0d0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; margin:0 0 10px 0; }



/* 遮罩站点地图层
------------------------------------------------------------------- */
#pagemask { display: none; }
#dialog { verflow: hidden; background: #FFF;  padding: 5px; border: 5px solid #71CBEF; position: absolute; z-index: 100; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;/*Firefox\Chrome\Safari\IE9\元素圆角效果*/ -moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.8); -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.8); box-shadow: 0 0 8px rgba(82, 168, 236, 0.8);}
    #dialog .title { padding: 5px 5px 0px 20px;}
        #dialog .title h3 { font-size: 16px; color: #329ED1; float:left; margin-top:10px;}
        #dialog .title span a { line-height: 9999px;  background: url(../img/sky/bg_position.gif) no-repeat 0px -150px; display: block; width: 17px; height: 17px; float: right; padding:0; overflow: hidden;}
            #dialog .title span a:hover { background-position: -20px -150px;}
    #dialog .content { clear: both; padding: 5px 20px; overflow: auto;}
    #dialog dl {width: 100px; float: left; overflow: hidden;}
        #dialog dt { font-size: 12px; font-weight: bold; color: #93BB3A; line-height:32px; padding-left:2px; }
        #dialog dd { height:24px; }
            #dialog dd a { line-height:20px;  padding:2px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
                #dialog dd a:hover {color: #FFF; background-color: #329ED1; text-decoration: none; }
.close_float { clear: both;}

/* 框架头部及主导航
------------------------------------------------------------------- */
.top-nav {
	position: absolute;
    right: 0;
    bottom: 0px;
}

.top-nav li {float:left;padding:2px;height:25px;line-height:25px;}
.top-nav li.adminid {
	
}


#main-header {
	border-bottom: 1px solid #2EBCFF;
	background-color: #DAF4FE;
	position: fixed;
	width:100%;
	z-index:3;
	height: 47px;
}

.main-nav {padding-left: 160px;z-index:4; }
.main-nav li {
	float:left;
}
.main-nav li a.link {
 	border:1px solid transparent;
	display:block;
	font-size: 15px; 
	padding: 5px 10px;
}

.main-nav li a.actived {
	font-weight:bold;
	border:1px solid #2EBCFF;
	border-bottom: 1px solid #fff;
	background-color:#fff;
 	border-radius:5px 5px 0 0;
   -webkit-border-radius:5px 5px 0 0;
   -moz-border-radius:5px 5px 0 0;
   -o-border-radius:5px 5px 0 0;
}

.loca { line-height:24px; color:#7292A4; }
.loca div, .loca strong, .crumbs a, a.arrow { float:left; margin-left: 2px;}
.loca a.arrow { background: url(../img/sky/bg_position.gif) no-repeat scroll -50px -155px; width: 4px; height:8px; margin: 9px 6px 7px 6px; _margin:9px 3px 7px 3px; /* IE6 */}

#main-content {
	padding-top:47px;
}


/*内容页面样式
------------------------------------------------------------------- */
.side-nav {
	position: fixed;
    width: 160px;
    border-right: 1px solid #2EBCFF;
    height: 100%;
    background-color: #DAF4FE;
    padding: 20px 0 0 0;
}

.side-nav li {
    text-indent: 1em;
    
}

.side-nav li.actived {
	1border-right: 2px solid #2EBCFF;
	
}

.side-nav a {
	padding: 5px 0;
	display:block;
	border-top: 1px solid transparent;
	border-bottom:1px solid transparent;
}


.side-nav a:hover, .side-nav li.actived a {
	1background:#fff url(../img/sky/bg_position_03.jpg) no-repeat right center;
	background:#fff;
	border-right:1px solid #fff;
	border-top: 1px solid #2EBCFF;
	border-bottom:1px solid #2EBCFF;
	position: relative;
	left:1px;
}

.page {     
	padding: 5px;
    text-align: left;
    margin-left: 160px;
}

.page .tab-content {margin-top:35px;}
.fixed-bar {background: #FFF url(../img/sky/fixed_bg.png) repeat-x scroll center bottom; padding: 0 0 10px 0;}
* html .fixedbar { width: 100%; margin-top: -10px; position: relative; left: -20px;}

.fixed-empty {}
.item-title { line-height: 20px; margin-bottom: 0 !important; clear: both; overflow: hidden; }
    .item-title h3 { float: left; margin-right:20px; }
.tab-base {overflow: hidden; padding-top:16px; }
    .tab-base li { float: left;}
        .tab-base a { font-weight: 700; line-height: 20px; background: #FFF url(../img/sky/bg_position.gif) no-repeat 0px -200px; height: 20px; float: left; padding-left: 9px; margin-right:2px;  cursor: pointer;}
        .tab-base a:hover { color: #09C; background-position: 0 -220px; }
            .tab-base a span { color: #555; background: url(../img/sky/bg_position.gif) no-repeat 9999px 9999px; float: left; padding-right: 9px; }
                .tab-base a:hover span {  background-position: 100% -220px;}
        .tab-base a.current, .tab-base a:hover.current { background-position: 0 -240px; cursor: default;}
            .tab-base a.current span, .tab-base a:hover.current span{ color: #FFF; background-position: 100% -240px;cursor: pointer;}
            
.tab-sub {overflow: hidden; padding-top:16px; }
    .tab-sub li { float: left;}
        .tab-sub a { font-weight: 700; line-height: 20px; background: #FFF url(../img/sky/bg_position.gif) no-repeat 0px -200px; height: 20px; float: left; padding-left: 9px; margin-right:2px;  cursor: pointer;}
        .tab-sub a:hover { color: #09C; background-position: 0 -220px; }
            .tab-sub a span { color: #555; background: url(../img/sky/bg_position.gif) no-repeat 9999px 9999px; float: left; padding-right: 9px; }
                .tab-sub a:hover span {  background-position: 100% -220px;}
        .tab-sub a.current, .tab-sub a:hover.current { background-position: 0 -240px; cursor: default;}
            .tab-sub a.current span, .tab-sub a:hover.current span{ color: #FFF; background-position: 100% -240px;cursor: pointer;}
            


/* table
------------------------------------------------------------------- */
.autotable {width:100%;}

.table { clear:both; width:100%; margin-top: 8px}
    .table th, .table td{ padding:5px; }
    .nohover td { background:#FFF !important;}


.tb-type1{}
.tb-type1 th{line-height:21px; color: #333;}
.tb-type1 td input[type="text"], .tb-type1 td select{ margin-right:4px; _margin-right:2px; margin-left:4px; _margin-left:2px; }
.tb-type1 td select { width:auto;}
.tb-type1 .txt-short { width:80px;}
.tb-type1 .txt { width:140px;}
.tb-type1 .txt2 { width:220px;}
.tb-type1 .date , .tb-type1 .date:hover { background: url(../img/input_date.gif) no-repeat 0 0; padding-left: 25px; width:70px;}
.tb-type1 .date { background-color: #FAFAFA; }
.tb-type1 .date:hover { background-color: #FFF;}
#gcategory select{ margin-right:3px;}
.tb-type1 strong{ margin-right:5px; color:#F60; }


/* tb */
.tb-type2{}
    .tb-type2 tr.hover:hover .tips2{ color:#333; }
    .tb-type2 td, tb-type2 th.td{ padding:5px 5px 3px 0; border-top: 1px dotted #CBE9F3; }
    .tb-type2 .tfoot td {padding:5px 5px 3px 0; border-top: 1px solid #CBE9F3;}
    .tb-type2 th{ padding:5px 5px 3px 0; line-height:21px; font-size: 12px; font-weight:bold; }
    .tb-type2 .txt, .tb-type2 .txtnobd{ width:100px; margin-right:10px; }
    .tb-type2 .smtxt { margin-right: 5px; width: 25px; }
    .nowrap { white-space: nowrap; }
    .tb-type2 .required { padding:3px 0 3px 5px; font-weight:700; }
    
.tb-type2 .rowform{ padding-left:5px; vertical-align: middle;}
    .rowform{ width:400px; overflow:auto; }

        .rowform .txt, .rowform textarea{ margin-right:10px; width:250px; }
        .rowform .txt2, .rowform textarea{ margin-right:10px; width:110px; }
        .rowform select{ margin-right:10px; width:256px; }
        .rowform .class-select { width: 90px; margin: 0;}
        .rowform .change-select-2 select { width:123px; } /*2级联动选择*/
        .rowform .change-select-3 select { width:78px; } /*3级联动选择*/
        .rowform .radio{ margin-top:-2px !important; *margin-top:0 !important; *margin-top:-2px; }
        .rowform li{ overflow:hidden; float:left; margin-right:10px; white-space:nowrap; cursor:pointer; }
            .rowform .clear{ clear:both; float:none; margin-bottom:10px; }
        .rowform .nofloat { clear:both; }
        .rowform .nofloat li span.radio { line-height:25px; width:100px; float:left; }
        .rowform .nofloat li select { width:156px;}
        .rowform .nofloat li.left { float:left;}
            .rowform .nofloat li{ float:none; margin:5px 0; overflow:visible; }


        .ckbox {width:700px; }
        .ckbox li { float: left; margin: 5px 10px 5px 0; white-space: nowrap; width: 130px; height: 20px; }
    .partition, .partition2{ line-height:21px; font-weight:700; color:#09C; }






/* Page title
---------------------------------------------------------------------*/
#title {
	
}

.txt-short, .txt , .txt2 , .select{ height: 20px; line-height: 20px;}
.thead {line-height: 34px; height: 34px; font-weight: bold; color: #444; text-align: center;}
.thead td {border-bottom: 1px solid #bbdbf1;}
tr td.handler span { display:block; width: 140px; text-align:left; margin: 0 auto;}
tr.no_data td{ font-size:14px; line-height: 120px; color: #09C; text-align:center; font-weight: bold;}

td.team a { padding-right: 20px; background: url(../img/blog-ico.gif) no-repeat; margin-right:16px; _margin-right:8px; line-height:16px !important;}
td.team a.tqq { background-position: 100% 0px;}
td.team a.qzone { background-position: 100% -20px;}
td.team a.weibo { background-position: 100% -40px;}

.mtr10 { margin: 10px 20px 0 0; display: inline;}
.page_link {color: #666;}
.page_hover {color: #ff6000;}
.page_link, .page_hover {font-weight: bold; display: block; float: left; text-decoration: none; padding: 2px 5px 0; font-size: 16px;}
.page_link:hover, .page_hover:hover {text-decoration: underline;}
.page .nonce { border: 1px solid #ddd; display: block; float: left; height: 17px; text-decoration: none; color: #a3a3a3; line-height: 17px; padding: 0 5px; }
.stat { float: left; height: 20px; line-height: 20px; color: #a3a3a3; text-decoration: none; }
.select {width: 370px; color: #444; font-size: 12px;}
.wordSpacing5 {word-spacing: 5px;}
.text250 {width: 238px; color: #444; font-size: 12px; padding-left: 18px}
.normal {font-weight: normal;}
.file {width: 330px;}
.floatleft {float:left;padding-left:15px;}
.clear {clear: both;}

.mt10 {margin-top: 10px;}
.mr10 { margin-right: 10px;}
.sort_order{width:50px; height:17px; line-height:17px; text-align:center}
.order th { border-top:1px dotted #CBE9F3;font-weight: 700;  color: #000;}
.order .noborder th { border-top: none;}
.order .space th { font-size: 14px; padding:0;}
.order td {}
.order ul { width:98%; margin: 5px auto; overflow: hidden;}
.order ul li { color: #333; width:50%; float:left; padding: 4px 0;  }
.order ul li strong { font-weight:normal; color: #888; padding: 0 6px 0 0;}
.order .goods { border: solid 1px #CBE9F3; width:98%; margin: 10px auto;}
.order .goods th {background-color:#F3FBFE;}

.red_common {font-weight: bold; color: #ff5400;}
.red_big {font-weight: bold; color: #ff5400; font-size: 16px;}
form label.error { font-style:normal; font-weight: normal; color:#F00; background: url(../img/access_disallow.gif) no-repeat; padding-left: 20px; margin-left:5px;}
form input.error , form textarea.error { background-color: #FFF0F0; background-repeat: repeat border: 1px dotted #FF3300;}

.help { line-height: 24px; color: #666; background-color: #F6F6F6; padding: 6px; border: 1px dashed #CCC;}
.checkinfo { padding: 8px 0px 0px 0px;}
.checkbox { margin: 0px; padding: 0px;}

.pagination { padding: 2px; float:right; +float:none; +position: absolute; +right:6px;}
.pagination a {
  padding: 5px 10px;
  background:#fff;
  border:1px solid #0D93BF;
}

.pagination a:hover ,.pagination a.active {background:#0D93BF;color:#fff;cursor:pointer;}

.pagination a.deactive {
	background: #C8C7CE;
    border: 1px solid #BDC2C3;
    color: #9A9999;
    text-decoration:none;
}




.header, .header td, .header th { border-top: 1px dotted #DEEFFB; font-weight: 700; }
.thead th{ font-size:13px; font-weight: 700; color: #333; white-space: nowrap; border-top: solid 1px #DEEFFB;}
.smallefont{font-size: 11px}

/* .cl  Clear 自动闭合 */
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.preview { margin-bottom: 8px; width: 570px; height: 340px; border: 1px solid #09C; box-shadow: 3px 3px 3px #EEE; -moz-box-shadow: 3px 3px 3px #EEE; -webkit-box-shadow: 3px 3px 3px #EEE; -o-box-shadow: 3px 3px 3px #EEE; }


/* Used for the Switch effect: */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../img/form_onoff.png) repeat-x; display: block; float: left;}
.cb-enable span, .cb-disable span { font-weight: bold; line-height: 24px; background-repeat: no-repeat; display: block;}
.cb-enable span { background-position: left -72px; padding: 0 10px;}
.cb-disable span { background-position: right -144px; padding: 0 10px;}
.cb-disable.selected { background-position: 0 -24px;}
.cb-disable.selected span { background-position: right -168px; color: #fff;}
.cb-enable.selected { background-position: 0 -48px;}
.cb-enable.selected span { background-position: left -120px; color: #fff;}
.onoff label { cursor: pointer;}
.onoff { position: relative; overflow: hidden; display: block;}
.onoff input[type="radio"] { position: absolute; left:-999px; }
.txt, select, .vmiddle , .type-file-text { vertical-align: middle;}
.rowform .txt, .rowform textarea { margin-right: 10px; width: 250px;}
.rowform .date , .rowform .date:hover { background: url(../img/input_date.gif) no-repeat 0 0; padding-left: 25px; width: 226px;}
.rowform .date { background-color: #FAFAFA;}
.rowform .date:hover { background-color: #FFF;}
.rowform .date-short , .rowform .date-short:hover { background: url(../img/input_date.gif) no-repeat 0 0; padding-left: 25px; width: 100px;}
.rowform .date-short { background-color: #FAFAFA;}
.rowform .date-short:hover { background-color: #FFF;}

/*表单元素样式*/
input[type="text"], input[type="password"], textarea, select, .type-file-text , .editable, .editable-tarea { color: #333333; background:#FAFAFA none repeat scroll 0 0 ;  border-style: solid; border-width: 1px; border-color: #ABADB3 #E2E3EA #E2E3EA #ABADB3;}
input[type="text"], input[type="password"], textarea, select, .type-file-text , .editable, .editable2, .editable-tarea, .editable-tarea2 { padding: 2px 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;/*Firefox\Chrome\Safari\IE9\元素圆角效果*/ resize: none;/*禁止调节元素的尺寸*/}
input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:hover, input[type="password"]:active, textarea:hover, textarea:focus, textarea:active { color: #33464F; background-color: #fff; border: 1px solid ; border-color:#71CBEF /*#CBE9F3 #CBE9F3 #71CBEF*/;-moz-box-shadow:0 0 5px rgba(82, 168, 236, 0.5); -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5); box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);}
.editable2, .editable-tarea2 { color: #33464F; background-color: #FFF; border: 1px dotted ; border-color:#71CBEF;}
textarea{ resize: vertical !important;}
.editable, .editable2, input[type="text"], input[type="password"] { line-height:20px; white-space: nowrap; display:inline-block; height:20px; overflow: hidden; cursor:text;}
.editable-tarea, .editable-tarea2, textarea { line-height:18px; display:inline-block; height:36px; cursor:text; overflow:auto;}


.tarea { height: 75px; width: 400px;}
.sort input , .sort .editable , .sort .editable2 { width:36px;}
.name input , .name .editable , .name .editable2 { width:250px;}
.tag input , .tag .editable , .tag .editable2 { width:480px;}
.goods-name textarea , .editable-tarea , .editable-tarea2 { width:250px;}
.class input , .class .editable , .class .editable2 { width:120px;}
input.readonly , textarea.readonly, textarea.readonly:focus ,textarea.readonly:hover, input.readonly:focus , input.readonly:hover  {backgorund:#FFF; border: solid 1px; border-color: #EEE #F5F5F5 #F5F5F5 #EEE;}
.type-file-box { position:relative; width:256px; height:25px; margin:0; padding:0; float:left;}
.type-file-text{ width:187px;  line-height:19px; height:19px; margin:0 2px 0 0; float:left; display:inline;}
.type-file-button , input.type-file-button:focus { background: url(../img/sky/bg_position.gif) no-repeat -50px -450px; display: inline; width: 57px; height: 25px; float: left; border: 0;}
.type-file-file { position:absolute; top:0px; right:0px; height:25px; width:256px; filter:alpha(opacity:0); opacity: 0; cursor: pointer;}
.type-file-show { float: right; margin-right:10px; cursor: help; }
.type-file-preview { background: #FFF; display: none; padding:5px; border: solid 5px #71CBEF; position: absolute; z-index:999;}
.image_display .type-file-show { width: 16px; height: 16px; padding: 2px; border: solid 1px #D8D8D8; cursor:auto;}

/* Buttons
---------------------------------------------------------------------*/




/* 图片DIV左右垂直局中 */
    .thumb { display:table-cell; vertical-align:middle; text-align:center;}
    .thumb i { *display:inline-block; *height:100%; *vertical-align:middle; }
    .thumb img { *vertical-align:middle; }
.thumblists {}
.thumblists li { float: left; }
.thumblists li.picture div { background:#FFF; float: left;/* if IE7/8/9*/ *text-align: center; display: inline; border: dotted 1px #CBE9F3; float: left; padding: 2px; margin:5px;}
.thumblists li.picture p { clear:both; line-height: 20px; height:20px; width: 70px; margin: 0 5px;}
.thumblists li.picture p span { display:inline-block; width: 50%; text-align:center;}

th.picture div { background:#FFF; float: left;/* if IE7/8/9*/ *text-align: center; display: inline; border: dotted 1px #CBE9F3; float: left; padding: 2px;}
td.picture div { background:#FFF; float: left;/* if IE7/8/9*/ *text-align: center; display: inline; border: 0; float: left; padding: 2px;}
.brand-picture { width: 120px; height: 40px; }
.brand-picture img { max-width: 120px; max-height: 40px; }


.link-logo { background:#FFF; float: left;/* if IE7/8/9*/ *text-align: center; display: inline; width: 88px; height: 31px; float: left; padding: 1px;  border: dotted 1px #71CBEF; }

.table td p { margin-bottom:6px;}
.table td p.store { color: #999; font-weight: normal;}
    .table td p.store a { color: #999;}
    .table td p.store a:hover { text-decoration: underline; color: #999;}
.table td.group { font-weight: 600;}
    .table td.group p.goods { font-weight: normal; color: #390;}
        .table td.group p.goods a { color: #390;}
        .table td.group p.goods a:hover { text-decoration: underline; color: #390;}

.align-center {text-align:center;}
.nowrap { white-space: nowrap;}
.nobg{ background: transparent none no-repeat scroll 0 0 !important;}
.space th { font-weight: 600; color: #329ED1; background-color: #F3FBFE;}
table.search { margin: 12px 0 6px 4px;}




.yes-onoff a, .no-onoff a, .power-onoff a { line-height:999%; background: url(../img/sky/bg_position.gif) no-repeat scroll; display: inline-block; width:34px; height:34px; overflow:hidden;}
.yes-onoff img, .no-onoff img, .power-onoff img {}
.yes-onoff a.enabled { background-position: 0px -500px;}
.yes-onoff a:hover.enabled {background-position: -40px -500px; }
.yes-onoff a:active.enabled {background-position: -80px -500px;}
.yes-onoff a.disabled { background-position: -120px -500px;}
.yes-onoff a:hover.disabled {background-position: -160px -500px;}
.yes-onoff a:active.disabled {background-position: -200px -500px;}

.no-onoff a.enabled { background-position: 0px -540px;}
.no-onoff a:hover.enabled {background-position: -40px -540px; }
.no-onoff a:active.enabled {background-position: -80px -540px;}
.no-onoff a.disabled { background-position: -120px -540px;}
.no-onoff a:hover.disabled {background-position: -160px -540px;}
.no-onoff a:active.disabled {background-position: -200px -540px;}

.power-onoff a.enabled { background-position: 0px -580px;}
.power-onoff a:hover.enabled {background-position: -40px -580px; }
.power-onoff a:active.enabled {background-position: -80px -580px;}
.power-onoff a.disabled { background-position: -120px -580px;}
.power-onoff a:hover.disabled {background-position: -160px -580px;}
.power-onoff a:active.disabled {background-position: -200px -580px;}

.msbtn  {
    display:inline-block;
    cursor:pointer;
    background-color:#db3652;
    font-size:14px;
    color:#fff;
    border:0;
    padding:6px 10px;
    text-align:center;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    
}

.msbtn:hover {
	box-shadow:0px 0px 15px #443636;
    -moz-box-shadow:0px 0px 15px #443636;
    -o-box-shadow:0px 0px 15px #443636;
    -webkit-box-shadow:0px 0px 15px #443636;
}

.btndisabled {
	background-color:#C3BFBF;
}

a.btn { font-size: 14px; color: #555; font-weight: 700; line-height:18px; background: transparent url(../img/sky/bg_position.gif) no-repeat scroll 0 -280px; display: inline-block; height: 38px; padding-left: 15px; margin-right:6px; cursor: pointer;}
a.btn:hover { background-position: 0 -318px;}
a.btn:active { background-position: 0 -356px;}
a.btn span { background: #FFF url(../img/sky/bg_position.gif) no-repeat scroll 100% -280px; display: inline-block; height: 18px; padding: 10px 15px 10px 0;}
a:hover.btn span { color: #1AA3D1; background-position: 100% -318px;}
a:active.btn span { color: #63C7ED; background-position: 100% -356px;}

a.btn-search { color: #555; line-height:28px; background: transparent url(../img/sky/bg_position.gif) no-repeat scroll -130px -450px; vertical-align:middle; display: inline-block; width: 28px; height: 28px; cursor: pointer;}
a.btn-search:hover { background-position: -160px -450px;}
a.btn-search:active { background-position: -190px -450px;}

a.btns{ font-weight: 700; color: #333; line-height:16px; background: transparent url(../img/sky/bg_position.gif) no-repeat scroll 0 -800px; display: inline-block; height: 28px; padding-left: 7px; margin-left:5px; cursor: pointer;}
a.btns:hover { background-position: 0 -830px;}
a.btns:active { background-position: 0 -860px;}
a.btns span { background: #FFF url(../img/sky/bg_position.gif) no-repeat scroll 100% -800px; display: inline-block; height: 16px; padding: 6px 7px 6px 0;}
a:hover.btns span { color: #1AA3D1; background-position: 100% -830px;}
a:active.btns span{ color: #63C7ED; background-position: 100% -860px;}

a.btn-add { background: url(../img/sky/bg_position.gif) no-repeat scroll 0px -720px; float: left; padding-left: 24px;}
a.btn-add span{ font-weight: 700; color: #09C;}
a:hover.btn-add span { text-decoration: underline;}

a.btn-add-nofloat { background: url(../img/sky/bg_position.gif) no-repeat scroll 0px -720px; display: inline-block; padding-left: 24px;}
a.btn-add-nofloat span{ font-weight: 700; color: #09C;}
a:hover.btn-add-nofloat span { text-decoration: underline;}

fieldset.w { background: none repeat scroll 0 0 #FEFEFE; padding: 0.5em; border: 1px dashed #E7E7E7;}
fieldset.d { background: none repeat scroll 0 0 #FFFAE3; padding: 0.5em; border: 1px dashed #F1E38B;}
fieldset legend { color: #666; background-color:transparent; padding-left:10px;}
fieldset legend span { padding-right:10px;}
fieldset.d legend { color: #C8712A; }
fieldset div[class="formelement"] { white-space: normal;}
fieldset .formelement { line-height: 20px; color: #555; white-space: nowrap; float: left; margin: 0 0.5em;}

/*用户信息*/
tr.member div.im span { float: left;}
tr.member div.im span a { line-height: 999px; background: url(../img/sky/bg_position.gif) no-repeat; display: block; width: 16px; height: 16px; float: left; padding:3px; margin-right: 2px; overflow: hidden; cursor:pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;/*Firefox\Chrome\Safari\IE9\元素圆角效果*/
}
tr.member div.im span a:hover { color: #000; background-color: #FFF;  cursor:pointer; -moz-box-shadow:0 0 5px rgba(82, 168, 236, 0.5); -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5); box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);}
tr.member div.im span.email a { background-position: 0px -630px; }
tr.member div.im span.qq a{ background-position: -30px -630px; }
tr.member div.im span.wangwang a{ background-position: -60px -630px; }
tr.member div.im span.msn a { background-position: -90px -630px; }
tr.member div.im span.email a.yes{ background-position: -120px -630px; }
tr.member div.im span.qq a.yes{ background-position: -150px -630px; }

tr.member div.im span.weixin a { background:url(../img/sky/icon16_wx_logo.png) no-repeat center center; }


tr.member div.im span.wangwang a.yes { background-position: -180px -630px; }
tr.member div.im span.msn a.yes { background-position: -210px -630px; }
tr.member .relative .im { }
tr.member .name { margin-bottom: 3px; color: #09C;}
tr.member .name strong{ color: #333; font-weight: 700; margin-right: 12px;}
tr.member .smallfont { font-size: 11px; color: #999; margin-bottom: 4px;}

#prompt th { cursor: n-resize;}
#prompt td { border-top: 1px solid #DEEFFB;}
#prompt div { background : url(../img/sky/prompt.gif) no-repeat 0px -30px; float:left; padding-left: 24px;}
#prompt .ac { background-position: 0px 2px; }
#prompt .title h5 {float:left; }
#prompt .title span.up { border-color: #09C #F3FBFE #F3FBFE #F3FBFE; margin: 9px 0 0 10px; }
#prompt .title span { border-width:4px; border-color:#F3FBFE #F3FBFE #09C #F3FBFE; border-style:solid; width:0; height:0; margin: 5px 0 0 10px; line-height:0; float:left;}
#prompt .nobg .title span.up { border-color: #09C #FFF #FFF #FFF; margin: 9px 0 0 10px; }
#prompt .nobg .title span { border-width:4px; border-color:#FFF #FFF #09C #FFF; border-style:solid; width:0; height:0; margin: 5px 0 0 10px; line-height:0; float:left;}
#prompt ul {}
#prompt ul li { line-height:26px; color:#888; background: url(../img/sky/bg_position.gif) no-repeat -628px -888px; padding-left:24px;}

.msgbg { background: url(../img/System.gif) scroll no-repeat 80px 0px; width: 250px;}
.msg .tip { line-height: 32px; color:#555; }
.msg .tip2 { line-height: 32px; color:#999; }


.dialog-handle { border: dotted #CBE9F3; border-width: 1px 0 0 0;}
.dialog-handle p { font-size: 12px; padding: 6px; overflow:hidden;}
.dialog-handle p span.handle { width: 45%; float:left;}
.dialog-handle p span.note  {width: 45%; float:left; color: #999; }

.category-list-edit { margin: 10px auto; max-height: 240px; clear:both; border: 1px solid #CBE9F3; background-color: #FFF; padding:10px; overflow: auto;}
.s-tips { color: #333; background: #FEFAE7; background: none repeat scroll 0 0 #FEFEDA; border: 1px solid #FFE8C2 !important; padding:4px; margin-bottom: 6px;}
.s-tips i { background: url(../img/sky/bg_position.gif) no-repeat scroll -270px -630px; vertical-align: middle; display:inline-block; width: 16px; height: 16px;}
.category-list-edit dl { border-bottom: dotted #CBE9F3 1px; margin-bottom: 6px;}
.category-list-edit dl dt, .category-list-edit dl dd { line-height: 20px; background-color: #FFF; display: inline-block; margin: 0 0 6px 2px; padding: 0 12px 0 6px; border: solid 2px #FFF; position:relative; z-index:1; cursor: pointer;}
.category-list-edit dl dt i, .category-list-edit dl dd i { line-height: 9px; background: #F30 url(../img/sky/bg_position.gif) no-repeat scroll -250px -640px; text-indent: 999px; display: none; width: 9px; height: 9px; position: absolute; z-index: 1; top: -1px; right: -1px; overflow: hidden;}
.category-list-edit dl dt:hover, .category-list-edit dl dd:hover { background-color:#FFC; border-color: #F30; box-shadow: 2px 2px 0 rgba(204,204,204,0.5);}
.category-list-edit dl dt:hover i, .category-list-edit dl dd:hover i {display:block;}
.category-list-edit dl dt { font-weight: 600;}

.show-recommend-goods-list { clear:both; }
.handle-select ul.goods-list { clear:both; overflow:hidden; border-top: dotted 1px #CBE9F3; border-bottom: solid 1px #CBE9F3; padding-bottom:6px; margin: 0 0 6px 0;}
.dialog-show-box { background:#F6FCFE; border: dotted 1px #CBE9F3; margin-bottom:8px; padding-bottom: 4px;}
.dialog-select-bar { margin: 4px 8px; }
.dialog-select-bar select { visibility: inherit !important;}
.no-record { color: #0D93BF; font-weight: 600; text-align:center; line-height: 64px; min-height: 64px; }


.special-goods-list dd.taobao-item-delete { font-size: 0; line-height: 0; background: url(../img/sky/bg_position.gif) no-repeat -250px -640px; display: none; width: 9px; height: 9px; position: absolute; z-index: 9; top: 0; right: 0; cursor: pointer;}
.special-goods-list dl:hover dd.taobao-item-delete { display: block}
.special-hot-point { position: relative; z-index: 1;}
.special-hot-point div { font-size: 16px; font-weight: 600; font-style: italic; line-height: 24px; color: #000000; text-shadow: 1px 1px 0 rgba(255,255,255,0.75); text-indent: 10px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#5900FF00', endColorstr='#5900FF00'); background:rgba(0,255,0,0.35); border-color: #F00;}
.hot-point-list li { display: block; padding: 5px; clear: both; position: relative; z-index: 1; border: solid 2px #FFF; margin-bottom: 5px;}
.hot-point-list li:hover { border-color: #F30;}
.hot-point-list li i { background: url(../img/select.gif) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 6px;}
.hot-point-list li span { color: #0D93BF; margin: 0 20px;}
.hot-point-list li a.btn-select-hot-point { line-height: 20px; color: #555555; background: #F7F7F7; text-align: center; height: 20px; padding: 0 6px; border: 1px solid #E7E7E7; border-radius: 4px;}
.hot-point-list li a.btn-delete-hot-point { line-height: 9px; background: #F30 url(../img/sky/bg_position.gif) no-repeat -250px -640px; text-indent: 999px; display: none; width: 9px; height: 9px; position: absolute; z-index: 1; top: -1px; right: -1px; overflow: hidden;}
.hot-point-list li:hover a.btn-delete-hot-point  { display: block;}



.upload-btn { width: 128px; height: 38px; border: solid 1px #EEEEEE; position: relative; z-index: 1; float: left; margin-right: 20px;}
.upload-btn a span { width: 130px; height: 40px; position: absolute; left: 0; top: 0; z-index: 999; cursor:pointer;}
.upload-button { font-size: 16px; line-height: 24px; background-color: #FAFAFA; text-align: center; display: block; width: 126px; height: 24px; padding: 6px 0; border: solid 1px #FFF; }
.cms-special-uploadpic img { max-width: 64px; max-height: 64px;}
.cms-special-uploadpic .thumblists li { height: 78px; position: relative; z-index: auto;}
.cms-special-uploadpic .thumblists li .handle { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D8FFFFFF', endColorstr='#D8FFFFFF');background:rgba(255,255,255,0.85); display: none; width: 66px; height: 16px; padding: 3px 1px; position: absolute; z-index: 9; bottom: 4px; left: 1px;}
.cms-special-uploadpic .thumblists li:hover .handle { display: block;}
.cms-special-uploadpic .handle a { background: url(../img/sky/bg_position.gif) no-repeat scroll; display: block; width: 16px; height: 16px; float: left; margin: 0 3px; filter:alpha(opacity=35)/*IE*/; -moz-opacity:0.35/*Moz+FF*/; opacity: 0.35; cursor: pointer;}
.cms-special-uploadpic .handle a:hover { opacity: 1;}
.cms-special-uploadpic .handle a.insert-link { background-position: -580px -770px;}
.cms-special-uploadpic .handle a.insert-hotpoint { background-position: -600px -770px;}
.cms-special-uploadpic .handle a.delete { background-position: -620px -770px;}

.upload .txt {
	margin:0;
	float:left;
	width: 200px;
}


/*方形图裁切*/
.pic-cut-150brand,
.pic-cut-120circle,
.pic-cut-120member, 
.pic-cut-200member { font-size: 12px; line-height: 20px; color: #555; width: 652px; height: 520px; margin: 20px auto; position: relative; z-index: 1; }

.pic-cut-150brand .work-title,
.pic-cut-120circle .work-title,
.pic-cut-120member .work-title,
.pic-cut-200member .work-title  { font-size: 12px; line-height: 20px; text-align: center; width: 500px; position: absolute; z-index: 1; top: 0; left: 0;}

.pic-cut-150brand .thumb-title,
.pic-cut-120circle .thumb-title,
.pic-cut-120member .thumb-title, 
.pic-cut-200member .thumb-title { text-align: center; width: 124px; position: absolute; z-index: 1; top: 0; right: 0;}


.pic-cut-150brand .work-layer,
.pic-cut-120circle .work-layer,
.pic-cut-120member .work-layer,
.pic-cut-200member .work-layer { background: #FFF; padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; left:0;}

.pic-cut-200member .thumb-title , .pic-cut-200member .work-layer { left: -150px;}

.pic-cut-150brand .work-layer p,
.pic-cut-120circle .work-layer p,
.pic-cut-120member .work-layer p,
.pic-cut-200member .work-layer p { background: url(../img/cut_bg.png) repeat 0 0; display: block; width: 500px; height: 500px; overflow: hidden;}

.pic-cut-150brand .thumb-layer,
.pic-cut-120circle .thumb-layer,
.pic-cut-120member .thumb-layer,
.pic-cut-200member .thumb-layer { padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; right: 0;}

.pic-cut-150brand .thumb-layer { right: -10px;}
.pic-cut-200member .thumb-layer { right: 40px;}


.pic-cut-150brand .thumb-layer p { width: 150px; height: 50px; overflow: hidden;}
.pic-cut-120circle .thumb-layer p,
.pic-cut-120member .thumb-layer p { width: 120px; height: 120px; overflow: hidden;}
.pic-cut-200member .thumb-layer p { width: 200px; height: 200px; overflow: hidden;}


.pic-cut-150brand .thumb-layer p img,
.pic-cut-120circle .thumb-layer p img,
.pic-cut-120member .thumb-layer p img,
.pic-cut-200member .thumb-layer p img { margin: 0; display: inline;}

.pic-cut-150brand .cut-help,
.pic-cut-120circle .cut-help,
.pic-cut-120member .cut-help,
.pic-cut-200member .cut-help { width: 120px; position: absolute; z-index: 1; top: 160px; right: 0;}
.pic-cut-150brand .cut-help { width: 120px; top: 100px;}

.pic-cut-200member .cut-help { width:160px; top: 220px; right: 80px;}

.pic-cut-150brand .cut-help h4,
.pic-cut-120circle .cut-help h4,
.pic-cut-120member .cut-help h4,
.pic-cut-200member .cut-help h4 { font-size: 12px; line-height: 28px; color: #333;}

.pic-cut-150brand .cut-btn,
.pic-cut-120circle .cut-btn,
.pic-cut-120member .cut-btn,
.pic-cut-200member .cut-btn { position: absolute; z-index: 1; top:340px; left: 420px;}
.pic-cut-150brand .cut-btn { top:280px;}
.pic-cut-200member .cut-btn { top:400px;}


/* Scrollbar jQuery Plugin
-------------------------------------- */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y { background-color: #AAA; height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute; z-index: auto; bottom: 3px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity.25s linear; -moz-transition: opacity .25s linear; transition: opacity .25s linear;}
.ps-container .ps-scrollbar-y { right: 3px; width: 8px; bottom: auto; }
.ps-container:hover .ps-scrollbar-x, .ps-container:hover .ps-scrollbar-y { opacity: .6; filter: alpha(opacity=60);}
.ps-container .ps-scrollbar-x:hover, .ps-container .ps-scrollbar-y:hover { opacity: .9; filter: alpha(opacity=90); cursor: default;}
.ps-container .ps-scrollbar-x.in-scrolling, .ps-container .ps-scrollbar-y.in-scrolling { opacity: .9; filter: alpha(opacity=90);}

.info-panel { }
.info-panel dl { width: 31%; float: left; margin: 30px 2% 0 0; border: solid 1px #DEEFFB; overflow: hidden;}
.info-panel dl:hover { border-color: #75CCEF; box-shadow: 3px 3px 0 #DEEFFB;}
.info-panel dl dt { text-align: center; padding: 20px 0 20px 0;}
.info-panel dl dt .ico { width: 60px; height: 60px; margin: 0 auto; border: solid 2px #75CCEF; border-radius: 32px; position: relative; z-index: 1; }
.info-panel dl dt .ico i { background: url(../img/sky/bg_position.gif) no-repeat; width: 32px; height: 32px; margin: -16px auto auto -16px; position: absolute; z-index: 1; top: 50%; left: 50%;}
.info-panel dl.member dt .ico i { background-position: -250px -520px;}
.info-panel dl.shop dt .ico i { background-position: -282px -520px;}
.info-panel dl.goods dt .ico i { background-position: -314px -520px;}
.info-panel dl.trade dt .ico i { background-position: -346px -520px;}
.info-panel dl.operation dt .ico i { background-position: -378px -520px;}
.info-panel dl.cms dt .ico i { background-position: -250px -560px;}
.info-panel dl.team dt .ico i { background-position: -282px -560px;}
.info-panel dl.weixin dt .ico i { background-position: -314px -560px;}
.info-panel dl.system dt .ico i { background-position: -410px -520px;}
.info-panel dl dt .ico sub { background-color: #FFF; height: 20px; padding: 2px; border-radius: 12px; position: absolute; z-index: 1; top: -4px; left: 40px;}
.info-panel dl dt .ico sub span { font-family: Tahoma; font-size: 11px; line-height: 16px; color: #75CCEF; background-color: #FFF; text-align: center; display: block; min-width: 8px; height: 16px; padding: 0 4px; border: solid 2px #75CCEF; border-radius: 10px;}
.info-panel dl dt .ico sub span em { font-weight: 600;}
.info-panel dl dt h3 { font-size: 24px; font-weight: 100; line-height: 30px; color: #75CCEF; margin: 5px 0 0 0; }
.info-panel dl dt h5 { font-size: 12px; font-weight: 100; line-height: 20px; color: #75CCEF; margin: 5px 0 0 0;}
.info-panel dl dt #system-info { width: 96%; height: 55px; margin: 6px auto 0 auto; overflow: hidden; position: relative; z-index: 1;}
.info-panel dl dt ul li { line-height: 20px; font-weight: 600; color: #75CCEF;}
.info-panel dl dt ul li span { font-family: Tahoma; font-weight: 100; font-size: 11px; margin-left: 8px;}
.info-panel dl dd { border-top: solid 1px #DEEFFB;}
.info-panel dl dd ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.info-panel dl dd li { text-align: center; display: inline-block; *display: inline/*IE7*/; margin-left: -1px; border-left: solid 1px #DEEFFB; zoom: 1; }
.info-panel dl dd li a { font-size: 14px; color: #75CCEF; line-height: 20px; display: block; height: 20px; padding: 10px 0; margin: 0 auto; position: relative; z-index:1;}
.info-panel dl dd li sub { font-family: Tahoma; font-size: 11px; line-height: 16px; color: #FFF; text-align: center; display: block; min-width: 8px; height: 16px; padding: 0 4px;  border: solid 2px #FFFFFF; border-radius: 10px; position: absolute; z-index: 1; top: -10px; left: 85%;}
.info-panel dl dd li sub em { font-weight: 600;}
.info-panel dl dd li.high sub { background-color: #FF5C26;}
.info-panel dl dd li.normal sub { background-color: #75CCEF;}
.info-panel dl dd li.none sub { visibility: hidden; display: none;}
.info-panel dl dd li.high a { font-weight: 600; color: #FF5C26;}
.info-panel dl dd li.high:hover, .info-panel dl dd li.high:hover a{ background-color: #FF5C26; color: #FFF;}
.info-panel dl dd li.normal a { color: #75CCEF;}
.info-panel dl dd li.none a { color: #75CCEF;}
.info-panel dl dd li.normal:hover,
.info-panel dl dd li.normal:hover a,
.info-panel dl dd li.none:hover,
.info-panel dl dd li.none:hover a { background-color: #75CCEF; color: #FFF;}
