<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://yr140307-hosv/ArcGIS/rest/services/ws/FeatureServer/0" ratelimit="100000" ratelimitperiod="1" matchall="true"/>
        <serverUrl url="http://yr140307-hosv/ArcGIS/rest/services/ws/FeatureServer/1" ratelimit="100000" ratelimitperiod="1" matchall="true"/>
        <serverUrl url="http://yr140307-hosv/ArcGIS/rest/services/ws/FeatureServer/2" ratelimit="100000" ratelimitperiod="1" matchall="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
